# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.eslintcache

# assets
public/assets/tts/
public/assets/models/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

bin/
.pocketbase.pid
database/pb_data
pb_data/
pb_data_test/
pb_data_template/
.env
.coralite

# Test
playwright-report
.last-run.json
test-results
tests/e2e/screenshots/