<template id="atoll-new-room-modal">
  <!-- The button to open the modal -->
  <button class="btn btn-sm btn-outline-secondary rounded-circle" ref="openNewRoomModalBtn" aria-label="New Room">
    <i class="bi bi-pencil-square"></i>
  </button>

  <!-- New Room Modal -->
  <div class="modal fade" tabindex="-1" aria-labelledby="{{ ref_newRoomModalLabel }}" aria-hidden="true" ref="newRoomModal">
    <div class="modal-dialog">
      <div class="modal-content text-bg-dark">
        <form id="{{ ref_createRoomForm }}" ref="createRoomForm">
          <div class="modal-header border-secondary">
            <h1 class="modal-title fs-5" id="{{ ref_newRoomModalLabel }}">Create New Room</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="{{ ref_roomNameInput }}" class="form-label">Room Name</label>
              <input type="text" name="name" class="form-control bg-dark text-white border-secondary" ref="roomNameInput" id="{{ ref_roomNameInput  }}" required>
            </div>
            <div class="mb-3">
              <label for="{{ ref_roomPreset }}" class="form-label">Preset</label>
              <select name="preset" class="form-select bg-dark text-white border-secondary" id="{{ ref_roomPreset }}">
                <option value="private_chat">Private Chat</option>
                <option value="public_chat">Public Chat</option>
                <option value="trusted_private_chat">Trusted Private Chat</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="{{ ref_roomVisibility }}" class="form-label">Visibility</label>
              <select name="visibility" class="form-select bg-dark text-white border-secondary" id="{{ ref_roomVisibility }}">
                <option value="private">Private</option>
                <option value="public">Public</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="{{ ref_roomTopic }}" class="form-label">Topic</label>
              <input type="text" name="topic" class="form-control bg-dark text-white border-secondary" id="{{ ref_roomTopic }}">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" name="is_direct" class="form-check-input" id="{{ ref_isDirectCheck }}">
              <label class="form-check-label" for="{{ ref_isDirectCheck }}">Direct Message</label>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" name="enableEncryption" class="form-check-input" id="{{ ref_enableEncryptionCheck }}" checked>
              <label class="form-check-label" for="{{ ref_enableEncryptionCheck }}">Enable Encryption</label>
            </div>
            
            <atoll-invite-users></atoll-invite-users>
          </div>
          <div class="modal-footer border-secondary">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" ref="createRoomBtn">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script type="module" client>
import { defineComponent } from 'coralite'

export default defineComponent({
  client: {
    components: ['atoll-invite-users'],
    imports: [
      {
        specifier: 'bootstrap',
        namedExports: ['Modal']
      }
    ],
    script: ({
      helpers,
      imports
    }) => {
      const {
        refs: references,
        createRoom,
        setState
      } = helpers
      const { Modal } = imports

      const newRoomModal = references('newRoomModal')
      const createRoomForm = references('createRoomForm')
      const createRoomBtn = references('createRoomBtn')
      const openNewRoomModalBtn = references('openNewRoomModalBtn')
      const modalInstance = Modal.getOrCreateInstance(newRoomModal)

      openNewRoomModalBtn.addEventListener('click', () => {
        modalInstance.show()
      })

      createRoomForm.addEventListener('submit', async (event) => {
        event.preventDefault()
        const formData = new FormData(createRoomForm)

        const options = {
          name: formData.get('name').trim(),
          preset: formData.get('preset'),
          visibility: formData.get('visibility'),
          topic: formData.get('topic').trim(),
          is_direct: formData.get('is_direct') === 'on',
          enableEncryption: formData.get('enableEncryption') === 'on'
        }

        const invitedUsers = formData.get('invitedUsers')
        if (invitedUsers) {
          options.invite = invitedUsers.split(',').map(id => id.trim()).filter(id => id.length > 0)
        }

        if (!options.name) {
          return
        }
        try {
          const loadingSpinner = document.createElement('span')
          const loadingSpinnerStatus = document.createElement('span')

          createRoomBtn.disabled = true
          loadingSpinnerStatus.setAttribute('role', 'status')
          loadingSpinner.setAttribute('class', 'spinner-border spinner-border-sm me-1')
          loadingSpinner.setAttribute('aria-hidden', 'true')

          loadingSpinnerStatus.textContent = 'Loading...'
          createRoomBtn.replaceChildren(loadingSpinner, loadingSpinnerStatus)

          await createRoom(options)

          createRoomForm.reset()
          const inviteComponent = createRoomForm.querySelector('atoll-invite-users')
          if (inviteComponent) {
            inviteComponent.setAttribute('reset', Date.now().toString())
          }

          createRoomBtn.textContent = 'Create'
          createRoomBtn.disabled = false
          modalInstance.hide()

          // Trigger rooms update
          setState('triggerRoomsUpdated', { ts: Date.now() })
        } catch (error) {
          console.error('Failed to create room:', error)
        } finally {
          createRoomBtn.disabled = false
          createRoomBtn.textContent = 'Create'
        }
      })
    }
  }
})
</script>