<template id="music-list-item">
  <button type="button" ref="btn" class="app-list-item music-list-item-btn {{ activeClass }}">
    <div class="list-item-icon">
      <i class="bi bi-music-note fs-5"></i>
    </div>
    <div class="text-truncate">
      <div class="fw-bold text-truncate">{{ roomName }}</div>
      <small class="opacity-75 d-block text-truncate">{{ timestamp }}</small>
    </div>
    <i class="bi bi-play-circle fs-4 ms-auto opacity-50"></i>
  </button>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    attributes: {
      assetId: String,
      roomName: String,
      timestamp: String,
      isActive: String
    },
    getters: {
      activeClass: (state) => (state.isActive === 'true' ? 'active' : '')
    },
    client: ({ refs, state, localDb, globalStore }) => {
      const { $state } = globalStore
      const { $localDb } = localDb
      const btn = refs('btn')

      btn.onclick = async () => {
        $state.activeSelectionId = state.assetId
        $state.activeSelectionType = 'music'
      }
    }
  })
</script>

