<template id="video-player-view">
  <div class="video-player-container d-flex justify-content-center align-items-center h-100 bg-black position-relative">
    <div class="spinner-border text-primary" ref="loader" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    
    <div class="alert alert-danger m-3 position-absolute top-0 start-0 end-0" hidden="{{ isErrorHidden }}">
      {{ errorMessage }}
    </div>

    <div ref="videoContainer" class="w-100 h-100 d-flex align-items-center justify-content-center">
       <div ref="videoPlaceholder" class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
          <button class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center mb-3" ref="btnBigPlay" style="width: 120px; height: 120px;">
             <i class="bi {{ bigPlayIcon }}" style="font-size: 4rem;"></i>
          </button>
          <div class="text-white opacity-50">Playing on Global Media Manager</div>
       </div>
    </div>
  </div>
</template>


<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    server: () => ({
      isErrorHidden: true,
      errorMessage: ''
    }),
    getters: {
      bigPlayIcon: (state) => {
        if (state.isPlayingThis && state.playbackStatus === 'playing') {
          return 'bi-pause-fill'
        }
  
        return 'bi-play-fill'
      }
    },
    client: async ({ state, signal, refs, globalStore, utils, eventBus }) => {
      const { $state } = globalStore
      const { $utils } = utils
      const { $bus } = eventBus
      const loader = refs('loader')
      const btnBigPlay = refs('btnBigPlay')
      const videoContainer = refs('videoContainer')
      const videoPlaceholder = refs('videoPlaceholder')

      const syncUI = () => {
        const id = $state.activeSelectionId
        const type = $state.activeSelectionType

        if (!id || type !== 'videos') {
          return
        }

        state.isErrorHidden = true
        state.errorMessage = ''
        loader.classList.add('d-none')

        state.isPlayingThis = ($state.currentMedia && $state.currentMedia.id === id)

        if (state.isPlayingThis) {
          // Adopt video element
          const getMasterVideo = $state.getMasterVideoElement
          if (getMasterVideo) {
            const video = getMasterVideo()
            if (video) {
              video.className = 'w-100 h-100 object-fit-contain'
              videoContainer.appendChild(video)
              videoPlaceholder.classList.add('d-none')
            }
          }
        } else {
          videoPlaceholder.classList.remove('d-none')
        }
      }

      const returnVideo = () => {
        const getMasterVideo = $state.getMasterVideoElement
        if (getMasterVideo) {
          const video = getMasterVideo()
          if (video && video.parentElement === videoContainer) {
            video.className = ''
            // Return to media-engine
            const engineContainer = document.querySelector('media-engine .d-none')
            if (engineContainer) {
              engineContainer.appendChild(video)
            }
          }
        }
      }

      signal.addEventListener('abort', returnVideo)

      btnBigPlay.addEventListener('click', () => {
        const id = $state.activeSelectionId
        if (!id) {
          return
        }

        if ($state.currentMedia && $state.currentMedia.id === id) {
          $bus.emit('MEDIA:TOGGLE')
        } else {
          $bus.emit('MEDIA:PLAY', {
            mediaId: id,
            type: 'videos'
          })
        }
      })

      const debouncedSync = $utils.debounce(syncUI, 50)
      debouncedSync()

      $state.subscribe('activeSelectionId', debouncedSync)
      $state.subscribe('activeSelectionType', debouncedSync)
      $state.subscribe('playbackStatus', (val) => {
        state.playbackStatus = val
        state.isPlayingThis = ($state.currentMedia && $state.currentMedia.id === $state.activeSelectionId)
        // Trigger sync again to adopt the video element if it was just started
        debouncedSync()
      })
    }
  })
</script>
