<template id="text-message">
  <div class="message-bubble {{ bubbleClass }} d-flex align-items-center">
    <span class="{{ glowClass }} flex-grow-1">
      <span class="{{ placeholderClass }}">{{ content }}</span>
    </span>
    <i class="bi bi-check ms-1 {{ checkmarkClass }}" style="font-size: 1rem; line-height: 1;" data-testid="sent-checkmark"></i>
  </div>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    attributes: {
      localUuid: String,
      content: {
        type: String,
        default: ''
      },
      isSent: {
        type: Boolean,
        default: false
      },
      position: {
        type: String,
        default: 'start'
      },
      status: {
        type: String,
        default: 'sent'
      }
    },
    getters: {
      bubbleClass: (state) => {
        const typeClass = state.isSent ? 'bubble-sent' : 'bubble-received'
        const pos = state.position || 'single'
        const posClass = `bubble-${pos}`
  
        return `${typeClass} ${posClass}`
      },
      glowClass: (state) => (state.status === 'pending' ? 'placeholder-glow' : ''),
      placeholderClass: (state) => (state.status === 'pending' ? 'placeholder col-12' : ''),
      checkmarkClass: (state) => (state.isSent && state.status === 'sent' ? 'd-inline-block' : 'd-none')
    }
  })
</script>
