<template id="atoll-back-button">
  <atoll-button 
    variant="ghost" 
    leading-icon="chevron-left" 
    icon-only="true" 
    pill="true"
    aria-label="Go back"
  ></atoll-button>
</template>

<style>
  :host {
    display: inline-block;
  }
</style>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    client: ({ root, emit, eventBus, signal }) => {
      root.addEventListener('click', (event) => {
        event.preventDefault()
        event.stopPropagation()

        if (eventBus?.$bus?.emit) {
          eventBus.$bus.emit('router:back')
        }
        emit('back')
      }, { signal })
    }
  })
</script>
