$atoll-colours: (
  // Green
  "green-100": #98EB8E,
  "green-200": #8AE47C,
  "green-300": #74D774,
  "green-400": #68EB76,
  "green-500": #56E265,
  "green-510": #53E062,
  "green-580": #47C84E,
  "green-600": #047835,
  "green-700": #38A33E,
  "green-750": #3E8B3E,
  "green-800": #197319,
  "green-900": #1A521A,

  // Light Green
  "light-green-300": #8EF2BF,
  "light-green-400": #5FEDA4,
  "light-green-500": #30E080,
  "light-green-600": #10C266,
  "light-green-700": #13A852,
  "light-green-800": #137F41,
  "light-green-900": #115E2D,
  "light-green-600p": #25A15B,
  "light-green-500p": #46BD75,
  "light-green-400p": #80CC9B,
  "light-green-300p": #B5DEC5,

  // Teal
  "teal-300": #89F2D9,
  "teal-400": #57EACD,
  "teal-500": #1BDBC3,
  "teal-600": #14C4A6,
  "teal-700": #0FA87B,
  "teal-800": #0E7D56,
  "teal-900": #0F634E,
  "teal-600p": #1F9B81,
  "teal-500p": #41BD9C,
  "teal-400p": #77CEB0,
  "teal-300p": #B5DECF,

  // Cyan
  "cyan-300": #87F2F2,
  "cyan-400": #56E8E3,
  "cyan-500": #21D6D6,
  "cyan-600": #17BDBD,
  "cyan-700": #0BA6A6,
  "cyan-800": #0B7A7A,
  "cyan-900": #106161,
  "cyan-600p": #1A989E,
  "cyan-500p": #3CBBBE,
  "cyan-400p": #78D2D4,
  "cyan-300p": #B8DEDE,

  // Light Blue
  "light-blue-300": #8DEAFF,
  "light-blue-400": #5BE3FC,
  "light-blue-500": #0CD2F7,
  "light-blue-600": #00B8E5,
  "light-blue-700": #0093C4,
  "light-blue-800": #016A96,
  "light-blue-900": #034F70,
  "light-blue-600p": #2191B2,
  "light-blue-500p": #3AB4CE,
  "light-blue-400p": #7ACBDB,
  "light-blue-300p": #C1D8DE,

  // Sky Blue
  "sky-blue-300": #ABDCFF,
  "sky-blue-400": #78CBFF,
  "sky-blue-500": #40B6FF,
  "sky-blue-600": #1A9CFF,
  "sky-blue-700": #0079D6,
  "sky-blue-800": #04579B,
  "sky-blue-900": #174770,
  "sky-blue-600p": #3A84C9,
  "sky-blue-500p": #56A2E0,
  "sky-blue-400p": #8ABEE8,
  "sky-blue-300p": #C5D6E3,

  // Blue
  "blue-300": #C2D2FF,
  "blue-400": #96B2FF,
  "blue-500": #638DFF,
  "blue-600": #4D73FF,
  "blue-700": #2A54D1,
  "blue-800": #28479B,
  "blue-900": #2D457F,
  "blue-600p": #4973D1,
  "blue-500p": #608EE6,
  "blue-400p": #9AB6F1,
  "blue-300p": #CCD3E5,

  // Indigo
  "indigo-300": #CACAFC,
  "indigo-400": #A2A2FC,
  "indigo-500": #7474FC,
  "indigo-600": #5A5AF2,
  "indigo-700": #4040D6,
  "indigo-800": #3833A1,
  "indigo-900": #33337D,
  "indigo-600p": #5A5ABF,
  "indigo-500p": #7474DE,
  "indigo-400p": #A1A1F2,
  "indigo-300p": #CFCFE5,

  // Deep Purple
  "deep-purple-300": #D4C4F5,
  "deep-purple-400": #BD9AFA,
  "deep-purple-500": #A178FA,
  "deep-purple-600": #8551E8,
  "deep-purple-700": #6B37CE,
  "deep-purple-800": #532A9E,
  "deep-purple-900": #472F70,
  "deep-purple-600p": #7951B5,
  "deep-purple-500p": #946EDB,
  "deep-purple-400p": #B59AED,
  "deep-purple-300p": #D3CCE5,

  // Purple
  "purple-300": #EDC8F7,
  "purple-400": #DD97FC,
  "purple-500": #CE75F5,
  "purple-600": #C850DE,
  "purple-700": #B431CC,
  "purple-800": #7B288A,
  "purple-900": #562963,
  "purple-600p": #814DA3,
  "purple-500p": #A76CCE,
  "purple-400p": #C896E5,
  "purple-300p": #DBCCE3,

  // Magenta
  "magenta-300": #FCCAE7,
  "magenta-400": #FF9CCD,
  "magenta-500": #FF70B0,
  "magenta-600": #FC3E97,
  "magenta-700": #E3277F,
  "magenta-800": #C40159,
  "magenta-900": #8F0946,
  "magenta-600p": #CC4582,
  "magenta-500p": #EA64A0,
  "magenta-400p": #F28CBC,
  "magenta-300p": #EBCCDD,

  // Red
  "red-300": #FCC5CB,
  "red-400": #FF96A3,
  "red-500": #FF697A,
  "red-600": #FF334B,
  "red-700": #EA122A,
  "red-800": #CE1126,
  "red-900": #8A0B19,
  "red-600p": #D9414D,
  "red-500p": #F0606B,
  "red-400p": #FB858F,
  "red-300p": #F2CED2,

  // Orange
  "orange-300": #FFCFBF,
  "orange-400": #FFA182,
  "orange-500": #FF875C,
  "orange-600": #FF6F36,
  "orange-700": #FF5E1F,
  "orange-800": #F24500,
  "orange-900": #C43100,
  "orange-600p": #E85A3D,
  "orange-500p": #FA7158,
  "orange-400p": #FF9E7A,
  "orange-300p": #FAD3C5,

  // Amber
  "amber-300": #FFF9CC,
  "amber-400": #FFEB94,
  "amber-500": #FFD86B,
  "amber-600": #FFC53D,
  "amber-700": #FFB31E,
  "amber-800": #FF9E19,
  "amber-900": #FC790C,
  "amber-600p": #FC8216,
  "amber-500p": #FFB55D,
  "amber-400p": #FFDD80,
  "amber-300p": #FFE8C2,

  // Yellow
  "yellow-300": #FDFFE5,
  "yellow-400": #FBFFBF,
  "yellow-500": #FDFF78,
  "yellow-600": #FFFC33,
  "yellow-700": #FFF200,
  "yellow-800": #FFE500,
  "yellow-900": #FFD900,
  "yellow-600p": #FFDF6B,
  "yellow-500p": #FFEA80,
  "yellow-400p": #FFF8AB,
  "yellow-300p": #FCFAD2,

  // Navy
  "navy-400": #C8CFDC,
  "navy-500": #93A0B8,
  "navy-600": #6B7496,
  "navy-700": #414F6E,
  "navy-800": #2D3B59,
  "navy-850": #212F4F,
  "navy-900": #202A43,

  // Base Alias Fallbacks
  "red": #CE1126,
  "orange": #FF5E1F,
  "yellow": #FFF200,
  "green": #047835,
  "blue": #2A54D1,
  "purple": #B431CC
);

// Native Bootstrap Theme Colors Overrides
$primary: #047835;
$secondary: #777777;
$success: #047835;
$info: #2A54D1;
$warning: #FF8A00;
$danger: #CE1126;
$light: #F5F5F5;
$dark: #111111;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "purple": map-get($atoll-colours, "purple"),
  "yellow": map-get($atoll-colours, "yellow")
);