$atoll-colours: (
  // Lime
  "lime-100": #9DE693,
  "lime-200": #8FDF81,
  "lime-300": #79D279,
  "lime-400": #6DE67B,
  "lime-500": #5BDD6A,
  "lime-510": #58DB67,
  "lime-580": #4CC353,
  "lime-600": #06C755,
  "lime-700": #3D9E43,
  "lime-750": #438643,
  "lime-800": #1E6E1E,
  "lime-900": #1F4D1F,

  // Light Green
  "light-green-300": #93EDBF,
  "light-green-400": #64E8A4,
  "light-green-500": #35DB80,
  "light-green-600": #15BD66,
  "light-green-700": #18A352,
  "light-green-800": #187A41,
  "light-green-900": #16592D,
  "light-green-600p": #2A9C5B,
  "light-green-500p": #4BB875,
  "light-green-400p": #85C79B,
  "light-green-300p": #BAD9C5,

  // Teal
  "teal-300": #8EEDD9,
  "teal-400": #5CE5C8,
  "teal-500": #20D6BE,
  "teal-600": #19BFA1,
  "teal-700": #14A37B,
  "teal-800": #137856,
  "teal-900": #145E4E,
  "teal-600p": #24967C,
  "teal-500p": #46B897,
  "teal-400p": #7CC9B0,
  "teal-300p": #BAD9CF,

  // Cyan
  "cyan-300": #8CEDED,
  "cyan-400": #5BE3DE,
  "cyan-500": #26D1D1,
  "cyan-600": #1CB8B8,
  "cyan-700": #10A1A1,
  "cyan-800": #107575,
  "cyan-900": #155C5C,
  "cyan-600p": #1F9399,
  "cyan-500p": #41B6B9,
  "cyan-400p": #7DCDCF,
  "cyan-300p": #BDD9D9,

  // Light Blue
  "light-blue-300": #90EAFC,
  "light-blue-400": #60DEF7,
  "light-blue-500": #11CDF2,
  "light-blue-600": #00B8E5,
  "light-blue-700": #0093C4,
  "light-blue-800": #066A91,
  "light-blue-900": #084F6B,
  "light-blue-600p": #268CAD,
  "light-blue-500p": #3FAFC9,
  "light-blue-400p": #7FC6D6,
  "light-blue-300p": #C1D8DE,

  // Sky Blue
  "sky-blue-300": #ABDCFF,
  "sky-blue-400": #78CBFF,
  "sky-blue-500": #40B6FF,
  "sky-blue-600": #1A9CFF,
  "sky-blue-700": #0279D4,
  "sky-blue-800": #095796,
  "sky-blue-900": #1C476B,
  "sky-blue-600p": #3F84C4,
  "sky-blue-500p": #5BA2DB,
  "sky-blue-400p": #8FBEE3,
  "sky-blue-300p": #C5D6E3,

  // Blue
  "blue-300": #C2D2FF,
  "blue-400": #96B2FF,
  "blue-500": #638DFF,
  "blue-600": #4D73FF,
  "blue-700": #2F59CC,
  "blue-800": #2D4796,
  "blue-900": #32457A,
  "blue-600p": #4E73CC,
  "blue-500p": #658EE1,
  "blue-400p": #9FB6EC,
  "blue-300p": #CCD3E5,

  // Indigo
  "indigo-300": #CACAFC,
  "indigo-400": #A2A2FC,
  "indigo-500": #7979F7,
  "indigo-600": #5F5FED,
  "indigo-700": #4545D1,
  "indigo-800": #3D389C,
  "indigo-900": #383878,
  "indigo-600p": #5F5FBA,
  "indigo-500p": #7979D9,
  "indigo-400p": #A6A6ED,
  "indigo-300p": #CFCFE5,

  // Deep Purple
  "deep-purple-300": #D4C4F5,
  "deep-purple-400": #BD9FF5,
  "deep-purple-500": #A17DF5,
  "deep-purple-600": #8556E3,
  "deep-purple-700": #6B3CC9,
  "deep-purple-800": #532F99,
  "deep-purple-900": #47346B,
  "deep-purple-600p": #7956B0,
  "deep-purple-500p": #9473D6,
  "deep-purple-400p": #B59FE8,
  "deep-purple-300p": #D3CCE5,

  // Purple
  "purple-300": #EDC8F7,
  "purple-400": #DD9CF7,
  "purple-500": #CE7AF0,
  "purple-600": #C355D9,
  "purple-700": #AF36C7,
  "purple-800": #762D85,
  "purple-900": #562E5E,
  "purple-600p": #81529E,
  "purple-500p": #A771C9,
  "purple-400p": #C89BE0,
  "purple-300p": #DBCCE3,

  // Magenta
  "magenta-300": #FCCAE7,
  "magenta-400": #FF9CCD,
  "magenta-500": #FF70B0,
  "magenta-600": #F74397,
  "magenta-700": #DE2C7F,
  "magenta-800": #BF0659,
  "magenta-900": #8A0E46,
  "magenta-600p": #C74A82,
  "magenta-500p": #E569A0,
  "magenta-400p": #ED91BC,
  "magenta-300p": #EBCCDD,

  // Red
  "red-300": #FCC5CB,
  "red-400": #FF96A3,
  "red-500": #FF697A,
  "red-600": #FF334B,
  "red-700": #E5172F,
  "red-800": #C9162B,
  "red-900": #85101E,
  "red-600p": #D44652,
  "red-500p": #EB6570,
  "red-400p": #F68A94,
  "red-300p": #F2CED2,

  // Orange
  "orange-300": #FFCFBF,
  "orange-400": #FFA182,
  "orange-500": #FF875C,
  "orange-600": #FF6F36,
  "orange-700": #FF5E1F,
  "orange-800": #F24500,
  "orange-900": #C43100,
  "orange-600p": #E35F42,
  "orange-500p": #F5765D,
  "orange-400p": #FA9E7F,
  "orange-300p": #FAD3C5,

  // Amber
  "amber-300": #FFF9CC,
  "amber-400": #FFEB94,
  "amber-500": #FFD86B,
  "amber-600": #FFC53D,
  "amber-700": #FCB321,
  "amber-800": #FA9E1E,
  "amber-900": #F77911,
  "amber-600p": #F7821B,
  "amber-500p": #FFB55D,
  "amber-400p": #FFDD80,
  "amber-300p": #FFE8C2,

  // Yellow
  "yellow-300": #FDFFE5,
  "yellow-400": #FBFFBF,
  "yellow-500": #FDFF78,
  "yellow-600": #FFFC33,
  "yellow-700": #FFF200,
  "yellow-800": #FFE500,
  "yellow-900": #FFD900,
  "yellow-600p": #FFDF6B,
  "yellow-500p": #FFEA80,
  "yellow-400p": #FFF8AB,
  "yellow-300p": #FCFAD2,

  // Navy
  "navy-400": #C8CFDC,
  "navy-500": #98A0B3,
  "navy-600": #707991,
  "navy-700": #464F69,
  "navy-800": #323B54,
  "navy-850": #262F4A,
  "navy-900": #202A43,

  // Base Alias Fallbacks
  "red": #FF334B,
  "orange": #FF5E1F,
  "yellow": #FFF200,
  "green": #06C755,
  "blue": #2F59CC,
  "purple": #AF36C7
);

// Native Bootstrap Theme Colors Overrides
$primary: #06C755;
$secondary: #777777;
$success: #06C755;
$info: #4270ED;
$warning: #FF8A00;
$danger: #FF334B;
$light: #F5F5F5;
$dark: #111111;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "purple": map-get($atoll-colours, "purple"),
  "yellow": map-get($atoll-colours, "yellow")
);