// Enable Bootstrap CSS Grid
$enable-cssgrid: true;

$prefix: "atoll-";

// Global Body Overrides
$body-bg: map-get($grays, "100");
$body-color: map-get($grays, "900");

// Custom variables for Layout
$app-header-height: 72px;
$app-sidebar-width: 54px;
$app-item-padding-y: 0.75rem;
$app-item-padding-x: 1rem;

// Custom variables for Timeline
$timeline-avatar-size: 28px;
$timeline-avatar-margin: 8px;
$timeline-reaction-size: 24px;
$timeline-reaction-gutter: 48px;