.video-grid {
  background-color: var(--#{$prefix}dark);

  &.is-pip {
    .local-video {
      display: none !important;
    }
  }

  .remote-placeholder p {
    font-size: 0.8rem !important;
  }

  .video-spinner {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.document-list {
  .list-item-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--#{$prefix}secondary-bg);
    margin-right: 12px;
  }

  .list-group-item.active .list-item-icon {
    background-color: rgba(var(--#{$prefix}white-rgb), 0.2);
  }
}
