.video-grid {
  background-color: var(--#{$prefix}dark);

  &.is-pip {
    .local-video {
      display: none !important;
    }
  }

  .remote-placeholder p {
    font-size: 0.8rem !important;
  }

  .video-spinner {
    width: 1.5rem;
    height: 1.5rem;
  }
}

